root = "."
testdata_dir = "testdata"
tmp_dir = "./tmp"

[build]
  
  # -------------------------------------------------------------------------
  # bookmarks
  # -------------------------------------------------------------------------
  args_bin = [
    "--host=localhost",
    "--port=9000",
    "--db=./cronlog-store.db"
  ]
  bin = "./tmp/cronlogger_server"
  cmd = "go tool templ generate && go build -ldflags=\"-X main.Version=NOW -X main.Build=DEV\" -o ./tmp/cronlogger_server ./cmd/server/main.go"

  delay = 500
  exclude_dir = [".vscode", "tmp", "litestream", "dist"]
  exclude_file = []
  exclude_regex = ["_test.go", ".*_templ.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "templ", "html"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
